venv/
__pycache__/
.ipynb_checkpoints/
.env

# Ignore all datasets
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Allow GenAI synthetic outputs
!data/genai/
!data/genai/*.csv

# Ignore legacy / experimental scripts
src/train.py 